
<div *ngIf="dataFetched; else loadingBlock">
  <mat-card class="login">

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div [ngSwitch]="logintype">

        <div *ngSwitchCase="1">
          <mat-form-field>
            <mat-label>Employee ID</mat-label>
            <input matInput formControlName="employeeID">
          </mat-form-field>
          <div *ngIf="(loginForm.controls['employeeID'].dirty || loginForm.controls['employeeID'].touched)" class="alert-danger">
            <div *ngIf="loginForm.controls['employeeID'].errors?.['required']">
              <mat-error>Please enter your Employee ID</mat-error>
            </div>
            <div *ngIf="loginForm.controls['employeeID'].errors?.['pattern']">
              <mat-error>Employee ID should contain only numbers.</mat-error>
            </div>
          </div>

          <mat-form-field>
            <mat-label>Card Number</mat-label>
            <input matInput formControlName="cardNumber">
          </mat-form-field>
          <div *ngIf="(loginForm.controls['cardNumber'].dirty || loginForm.controls['cardNumber'].touched)" class="alert-danger">
            <div *ngIf="loginForm.controls['cardNumber'].errors?.['required']">
              <mat-error>Please enter your Card Number</mat-error>
            </div>
            <div *ngIf="loginForm.controls['cardNumber'].errors?.['pattern']">
              <mat-error>Card Number should contain only numbers.</mat-error>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="2">
          <mat-form-field>
            <mat-label>Employee ID</mat-label>
            <input matInput formControlName="employeeID">
          </mat-form-field>
          <div *ngIf="(loginForm.controls['employeeID'].dirty || loginForm.controls['employeeID'].touched)" class="alert-danger">
            <div *ngIf="loginForm.controls['employeeID'].errors?.['required']">
              <mat-error>Please enter your Employee ID</mat-error>
            </div>
            <div *ngIf="loginForm.controls['employeeID'].errors?.['pattern']">
              <mat-error>Employee ID should contain only numbers.</mat-error>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="3">
          <mat-form-field>
            <mat-label>Card Number</mat-label>
            <input matInput formControlName="cardNumber">
          </mat-form-field>
          <div *ngIf="(loginForm.controls['cardNumber'].dirty || loginForm.controls['cardNumber'].touched)" class="alert-danger">
            <div *ngIf="loginForm.controls['cardNumber'].errors?.['required']">
              <mat-error>Please enter your Card Number</mat-error>
            </div>
            <div *ngIf="loginForm.controls['cardNumber'].errors?.['pattern']">
              <mat-error>Card Number should contain only numbers.</mat-error>
            </div>
          </div>
        </div>
      </div>

      <br>

      <button
        mat-raised-button
        type="submit"
        color="primary">
        Login
      </button>

      <p>Jantek Web Punch is a product of JANTEK ELECTRONICS INC.</p>
    </form>

  </mat-card>
</div>

<ng-template #loadingBlock>
  <app-loading-spinner [isLoading]="!dataFetched"></app-loading-spinner>
</ng-template>
