<mat-card>
  <mat-card-header class="title-center">
    <mat-card-title>{{ fk.caption }}</mat-card-title>
  </mat-card-header>

  <form [formGroup]="levelChangeForm" (ngSubmit)="onSubmit()">

    <div class="flex-container" *ngIf="!l1Disabled">
      <!-- Level 1 -->
      <div class="flex-item">
        <mat-label>{{ message1 }} </mat-label>
        <br>
        <mat-form-field>
          <input matInput formControlName="l1">
        </mat-form-field>

        <button
          mat-icon-button color="primary"
          type="button"
          (click)="openCodeL1Dialog()"
          aria-label="Msg Code 1 Search">
          <mat-icon>search</mat-icon>
        </button>

        <div *ngIf="(levelChangeForm.controls['l1'].dirty || levelChangeForm.controls['l1'].touched)">
          <div *ngIf="levelChangeForm.controls['l1'].errors?.['required']">
            <mat-error>Level Code is required.</mat-error>
          </div>
          <div *ngIf="levelChangeForm.controls['l1'].errors?.['pattern']">
            <mat-error>Level Code should contain only numbers.</mat-error>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-container" *ngIf="!l2Disabled">
      <!-- Level 2 -->
      <div class="flex-item">
        <mat-label>{{ message2 }}</mat-label>
        <br>
        <mat-form-field>
          <input matInput formControlName="l2">
        </mat-form-field>

        <button
          mat-icon-button color="primary"
          type="button"
          (click)="openCodeL2Dialog()"
          aria-label="Msg Code 2 Search">
          <mat-icon>search</mat-icon>
        </button>

        <div *ngIf="(levelChangeForm.controls['l2'].dirty || levelChangeForm.controls['l2'].touched)">
          <div *ngIf="levelChangeForm.controls['l2'].errors?.['required']">
            <mat-error>Level Code is required.</mat-error>
          </div>
          <div *ngIf="levelChangeForm.controls['l2'].errors?.['pattern']">
            <mat-error>Level Code should contain only numbers.</mat-error>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-container" *ngIf="!l3Disabled">
      <!-- Level 3 -->
      <div class="flex-item">
        <mat-label>{{ message3 }}</mat-label>
        <br>
        <mat-form-field>
          <input matInput formControlName="l3">
        </mat-form-field>

        <button
          mat-icon-button color="primary"
          type="button"
          (click)="openCodeL3Dialog()"
          aria-label="Msg Code 3 Search">
          <mat-icon>search</mat-icon>
        </button>

        <div *ngIf="(levelChangeForm.controls['l3'].dirty || levelChangeForm.controls['l3'].touched)">
          <div *ngIf="levelChangeForm.controls['l3'].errors?.['required']">
            <mat-error>Level Code is required.</mat-error>
          </div>
          <div *ngIf="levelChangeForm.controls['l3'].errors?.['pattern']">
            <mat-error>Level Code should contain only numbers.</mat-error>
          </div>
        </div>
      </div>
    </div>

    <div class="submit-button">
      <button
        mat-raised-button
        type="submit"
        color="primary">
        Submit
      </button>
    </div>

  </form>
</mat-card>
