<mat-card>
  <mat-card-header class="title-center">
    <mat-card-title>{{ fk.caption }}</mat-card-title>
  </mat-card-header>

  <form [formGroup]="payCodeForm" (ngSubmit)="onSubmit()">

    <div class="flex-container">
      <div class="flex-item">
        <mat-label>{{ fk.msg1 }} </mat-label>
        <br>
        <div [ngSwitch]="fk.fktype">
          <!-- Hour Entry -->
          <div *ngSwitchCase="16">
            <mat-form-field>
              <input matInput formControlName="hour">
            </mat-form-field>

            <div *ngIf="(payCodeForm.controls['hour'].dirty || payCodeForm.controls['hour'].touched)">
              <div *ngIf="payCodeForm.controls['hour'].errors?.['required']">
                <mat-error>Hour entry is required.</mat-error>
              </div>
              <div *ngIf="payCodeForm.controls['hour'].errors?.['pattern']">
                <mat-error>Hour entry must be a number.</mat-error>
              </div>
            </div>
          </div>
          <!-- Amount Entry -->
          <div *ngSwitchCase="17">
            <mat-form-field>
              <input matInput formControlName="amount">
            </mat-form-field>

            <div *ngIf="(payCodeForm.controls['amount'].dirty || payCodeForm.controls['amount'].touched)">
              <div *ngIf="payCodeForm.controls['amount'].errors?.['required']">
                <mat-error>Amount entry is required.</mat-error>
              </div>
              <div *ngIf="payCodeForm.controls['amount'].errors?.['pattern']">
                <mat-error>Amount entry must be a number.</mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="submit-button">
      <button
        mat-raised-button
        type="submit"
        color="primary">
        Submit
      </button>
    </div>

  </form>
</mat-card>
