<div *ngIf="!dataFetched; else loadingBlock">
  <mat-card>

    <mat-card-header class="title-center">
      <mat-card-title>View Total Hours</mat-card-title>
    </mat-card-header>

    <div *ngIf="noPunches; else totalHoursBlock">
      <h2 >No punches for employee</h2>
    </div>
    <ng-template #totalHoursBlock>
      <h2>{{ totalHours }} total hours</h2>
    </ng-template>


  </mat-card>

</div>

<ng-template #loadingBlock>
  <app-loading-spinner [isLoading]="dataFetched"></app-loading-spinner>
</ng-template>
